<!DOCTYPE html>
<html>

<head>
  <title>Tamagotchi Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css" type="text/css">
</head>

<body>
  <h1>Wecome to Your Tamagotchis</h1>
  <h3>Please select from the options below to proceed.</h3>
  <div class="container">
    <form action="/tamagotchis/new">
      <button class="btn btn-success" type="submit">Create New Tamagotchi</button>
    </form>
    <br>
    <a href="/tamagotchis"><button class="btn btn-primary mt-6">See Current Tamagotchis</button></a>
  </div>
</body>

</html>
